body { 
	background-image:url("/static/images/background1.jpg") ; 
	background-repeat:no-repeat; 
	background-position:center; 
	background-size:cover; 
  background-attachment: fixed;
	padding:10px;
}

.form-heading { 
	color:#fff; 
	font-size:23px;
}

.panel h2 { 
	font-family: 'Lobster', cursive;
	color:#444444; 
	font-size:30px; 
  text-align: center;
}

.panel p { 
	color:#777777; 
	font-size:14px; 
	margin-bottom:30px; 
	line-height:24px;
}

.login-form .form-control {
  	background: #f7f7f7;
  	border: 1px solid #d4d4d4;
  	border-radius: 4px;
  	font-size: 16px;
  	height: 50px;
  	line-height: 50px;
}

.main-div {
  	background: #ffffff;
  	border-radius: 2px;
  	margin: 10px auto 30px auto;
  	padding: 70px 70px 70px 71px;
}

.form-group {
  display: inline-block;
}

.form-group span{
  display: table-cell;
}

input#id_username {
  width: auto;
  padding: 6px 12px;
  background: #f7f7f7;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 16px;
  height: 50px;
  line-height: 50px; 
}

#id_password {
  width: auto;
  padding: 6px 12px;
  background: #f7f7f7;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}

.form-group span input{
  width: auto;
  padding: 6px 12px;
  background: #f7f7f7;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}

.form-group span label{
  width: auto;
  text-align: left;
}

.login-form .form-group {
  margin-bottom:10px;
}

.login-form { 
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.register {
  	text-align: left; 
  	margin-bottom:30px;
}

.register a {
	display: inline-block;
  	color: #777777;
  	font-size: 14px;
  	text-decoration: underline;
}

.login-form  .btn.btn-primary {
  	background: #f0ad4e none repeat scroll 0 0;
  	border-color: #f0ad4e;
  	color: #ffffff;
  	font-size: 14px;
  	width: 100%;
  	height: 50px;
  	line-height: 50px;
  	padding: 0;
}

.botto-text {
  	color: #ffffff;
  	font-size: 14px;
  	margin: auto;
}

.login-form .btn.btn-primary.reset {
  	background: #ff9900 none repeat scroll 0 0;
}

.back { 
	text-align: left; 
	margin-top:10px;
}

.back a {
	color: #444444; 
	font-size: 16px;
	text-decoration: none;
}